<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공지사항</title>
    <link rel="stylesheet" href="/css/board/board-list.css">
</head>
<body>
<header id="header">
    <div class="inner">
        <a href="/" class="logo">Fashion</a>
        <nav id="nav">
            <a href="/">Home</a>
            <a href="/">회사소개</a>
            <a href="/">Service</a>
            <a href="/user/login">Login</a>
            <a href="/board/list">공지사항</a>
        </nav>
    </div>
</header>
<div class="board_wrap">
    <div class="board_title">
        <strong>공지사항</strong>
        <p>공지사항을 빠르고 정확하게 안내해드립니다.</p>
    </div>
    <div class="board_list_wrap">
        <div class="board_list">
            <div class="top">
                <div class="num">번호</div>
                <div class="title">제목</div>
                <div class="writer">글쓴이</div>
                <div class="date">작성일</div>
                <div class="count">조회</div>
            </div>
            <div>
                <div class="num">5</div>
                <div class="title"><a href="/">[공지사항] 개인정보 처리방침 변경안내처리방침</a></div>
                <div class="writer">유광진</div>
                <div class="date">2021.1.15</div>
                <div class="count">33</div>
            </div>
            <div>
                <div class="num">4</div>
                <div class="title"><a href="/">[공지사항] 개인정보 처리방침 변경안내처리방침</a></div>
                <div class="writer">한국인</div>
                <div class="date">2021.1.15</div>
                <div class="count">33</div>
            </div>
            <div>
                <div class="num">3</div>
                <div class="title"><a href="/">공지사항 안내입니다. 이용해주셔서 감사합니다.</a></div>
                <div class="writer">유광진</div>
                <div class="date">2021.1.15</div>
                <div class="count">33</div>
            </div>
            <div>
                <div class="num">2</div>
                <div class="title"><a href="/">공지사항 안내입니다. 이용해주셔서 감사합니다</a></div>
                <div class="writer">한국인</div>
                <div class="date">2021.1.15</div>
                <div class="count">33</div>
            </div>
            <div>
                <div class="num">1</div>
                <div class="title"><a href="/">공지사항 안내입니다. 이용해주셔서 감사합니다</a></div>
                <div class="writer">한국인</div>
                <div class="date">2021.1.15</div>
                <div class="count">33</div>
            </div>
        </div>
        <div class="board_page">
            <a href="#" class="bt first"><<</a>
            <a href="#" class="bt prev"><</a>
            <a href="#" class="num on">1</a>
            <a href="#" class="num">2</a>
            <a href="#" class="num">3</a>
            <a href="#" class="num">4</a>
            <a href="#" class="num">5</a>
            <a href="#" class="bt next">></a>
            <a href="#" class="bt last">>></a>
        </div>
        <div class="bt_wrap">
            <a href="/board/write" class="on">등록</a>
            <!--<a href="#">수정</a>-->
        </div>
    </div>
</div>
</body>
</html>