<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로그인</title>
    <link rel="stylesheet" href="/css/user/user-login.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<section class="login-form">
    <h1>사용자 로그인</h1>
    <form action="/" method="post">
        <!-- 사용자 로그인 ID 입력란-->
        <div class="int-area">
            <input type="text" name="userid" id="login-id" autocomplete="off" required>
            <label for="login-id">User Id</label>
        </div>
        <!-- 사용자 비밀번호 ID 입력란-->
        <div class="int-area">
            <input type="password" name="userpwd" id="login-pwd" autocomplete="off" required>
            <label for="login-pwd">Password</label>
        </div>
        <!-- 로그인 버튼 -->
        <div class="btn-area">
            <button type="submit" id="btn-login">LOGIN</button>
        </div>
    </form>
    <div class="caption">
        <a href="/">아이디/비밀번호 찾기</a>
        <a href="/user/join">회원가입</a>
    </div>
</section>
<script src="/js/user/user-login.js"></script>
</body>
</html>