<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>
<div th:fragment="header">
    <header id="header">
        <div class="inner">
            <a href="/" class="logo">Fashion</a>
            <nav id="nav">
                <a href="/">Home</a>
                <a href="/">회사소개</a>
                <a href="/">Service</a>
                <a href="/user/login">Login</a>
                <a href="/board/list">공지사항</a>
            </nav>
        </div>
    </header>
    <!-- Banner -->
    <section id="banner">
        <h1>Today OOTD</h1>
        <p>자신의 패션을 공유해보세요!</p>
    </section>
</div>
</body>
</html>